USE [master]
GO
/****** Object:  Database [CloneEbayDB]    Script Date: 11/15/2025 4:40:00 AM ******/
CREATE DATABASE [CloneEbayDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CloneEbayDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CloneEbayDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CloneEbayDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CloneEbayDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CloneEbayDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CloneEbayDB]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[fullName] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[street] [nvarchar](100) NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[isDefault] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[bidderId] [int] NULL,
	[amount] [decimal](10, 2) NULL,
	[bidTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[discountPercent] [decimal](5, 2) NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[maxUsage] [int] NULL,
	[productId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dispute]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dispute](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[raisedBy] [int] NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](20) NULL,
	[resolution] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sellerId] [int] NULL,
	[averageRating] [decimal](3, 2) NULL,
	[totalReviews] [int] NULL,
	[positiveRate] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
	[lastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[senderId] [int] NULL,
	[receiverId] [int] NULL,
	[content] [nvarchar](max) NULL,
	[timestamp] [datetime] NULL,
	[ProductId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
	[unitPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTable]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[buyerId] [int] NULL,
	[addressId] [int] NULL,
	[orderDate] [datetime] NULL,
	[totalPrice] [decimal](10, 2) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[userId] [int] NULL,
	[amount] [decimal](10, 2) NULL,
	[method] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
	[paidAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NULL,
	[images] [nvarchar](max) NULL,
	[categoryId] [int] NULL,
	[sellerId] [int] NULL,
	[isAuction] [bit] NULL,
	[auctionEndTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequest]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[userId] [int] NULL,
	[reason] [nvarchar](max) NULL,
	[status] [nvarchar](20) NULL,
	[createdAt] [datetime] NULL,
	[EvidenceImage] [nvarchar](max) NULL,
	[SellerResponse] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[reviewerId] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingInfo]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[carrier] [nvarchar](100) NULL,
	[trackingNumber] [nvarchar](100) NULL,
	[status] [nvarchar](50) NULL,
	[estimatedArrival] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sellerId] [int] NULL,
	[storeName] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[bannerImageURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/15/2025 4:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[password] [nvarchar](255) NULL,
	[role] [nvarchar](20) NULL,
	[avatarURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([id], [userId], [fullName], [phone], [street], [city], [state], [country], [isDefault]) VALUES (1, 2, N'tran viet tien', N'0339258608', N'thai nguyen', N'thai nguyen', N'tan thinh', N'Việt Nam', 1)
INSERT [dbo].[Address] ([id], [userId], [fullName], [phone], [street], [city], [state], [country], [isDefault]) VALUES (2, 2, N'tran viet tien', N'0339258608', N'thai nguyen22', N'thai nguyen', N'tan thinh', N'Việt Nam', 0)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Electronicsss')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'Fashion')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'Home & Garden')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupon] ON 

INSERT [dbo].[Coupon] ([id], [code], [discountPercent], [startDate], [endDate], [maxUsage], [productId]) VALUES (1, N'SALE29', CAST(50.00 AS Decimal(5, 2)), CAST(N'2025-11-15T00:00:00.000' AS DateTime), CAST(N'2025-11-25T00:00:00.000' AS DateTime), 4, 1)
SET IDENTITY_INSERT [dbo].[Coupon] OFF
GO
SET IDENTITY_INSERT [dbo].[Dispute] ON 

INSERT [dbo].[Dispute] ([id], [orderId], [raisedBy], [description], [status], [resolution]) VALUES (1, 1, 2, N'I have a question about using my item: scammer', N'Pending', NULL)
SET IDENTITY_INSERT [dbo].[Dispute] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([id], [productId], [quantity], [lastUpdated]) VALUES (1, 1, 36, CAST(N'2025-11-15T01:00:12.960' AS DateTime))
INSERT [dbo].[Inventory] ([id], [productId], [quantity], [lastUpdated]) VALUES (2, 2, 20, CAST(N'2025-11-15T04:05:17.600' AS DateTime))
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([id], [senderId], [receiverId], [content], [timestamp], [ProductId]) VALUES (1, 1, 1, N'[system-product]', CAST(N'2025-11-15T00:24:20.787' AS DateTime), 1)
INSERT [dbo].[Message] ([id], [senderId], [receiverId], [content], [timestamp], [ProductId]) VALUES (2, 2, 1, N'[system-product]', CAST(N'2025-11-15T00:24:52.373' AS DateTime), 1)
INSERT [dbo].[Message] ([id], [senderId], [receiverId], [content], [timestamp], [ProductId]) VALUES (3, 2, 1, N'ee', CAST(N'2025-11-15T00:26:58.887' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([id], [orderId], [productId], [quantity], [unitPrice]) VALUES (1, 1, 1, 1, CAST(700000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([id], [orderId], [productId], [quantity], [unitPrice]) VALUES (2, 2, 1, 1, CAST(700000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([id], [orderId], [productId], [quantity], [unitPrice]) VALUES (3, 3, 1, 1, CAST(700000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderTable] ON 

INSERT [dbo].[OrderTable] ([id], [buyerId], [addressId], [orderDate], [totalPrice], [status]) VALUES (1, 2, 1, CAST(N'2025-11-14T18:44:48.503' AS DateTime), CAST(700005.00 AS Decimal(10, 2)), N'Delivered')
INSERT [dbo].[OrderTable] ([id], [buyerId], [addressId], [orderDate], [totalPrice], [status]) VALUES (2, 2, 1, CAST(N'2025-11-14T20:04:06.450' AS DateTime), CAST(700005.00 AS Decimal(10, 2)), N'Paid')
INSERT [dbo].[OrderTable] ([id], [buyerId], [addressId], [orderDate], [totalPrice], [status]) VALUES (3, 2, 1, CAST(N'2025-11-14T20:11:10.887' AS DateTime), CAST(700005.00 AS Decimal(10, 2)), N'Paid')
SET IDENTITY_INSERT [dbo].[OrderTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([id], [orderId], [userId], [amount], [method], [status], [paidAt]) VALUES (1, 1, 2, CAST(700005.00 AS Decimal(10, 2)), N'PayPal', N'Success', CAST(N'2025-11-14T18:44:48.723' AS DateTime))
INSERT [dbo].[Payment] ([id], [orderId], [userId], [amount], [method], [status], [paidAt]) VALUES (2, 2, 2, CAST(700005.00 AS Decimal(10, 2)), N'PayPal', N'Success', CAST(N'2025-11-14T20:04:06.613' AS DateTime))
INSERT [dbo].[Payment] ([id], [orderId], [userId], [amount], [method], [status], [paidAt]) VALUES (3, 3, 2, CAST(700005.00 AS Decimal(10, 2)), N'PayPal', N'Success', CAST(N'2025-11-14T20:11:11.057' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [title], [description], [price], [images], [categoryId], [sellerId], [isAuction], [auctionEndTime]) VALUES (1, N'Consumer Electronics', N'Consumer Electronics', CAST(700000.00 AS Decimal(10, 2)), N'/uploads/products/827597fc-e752-466d-bfc8-ec34169d4d8f_tải xuống.jpg', 1, 1, 0, NULL)
INSERT [dbo].[Product] ([id], [title], [description], [price], [images], [categoryId], [sellerId], [isAuction], [auctionEndTime]) VALUES (2, N'prouct 1', N'prouct 1', CAST(36000.00 AS Decimal(10, 2)), N'/uploads/products/2446552c-0bb5-4866-a243-a7733b40a3d8_8b9d9e9d-2e72-4a14-8e93-c890250629dd.jpg', 3, 1, NULL, CAST(N'2025-11-22T04:05:17.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnRequest] ON 

INSERT [dbo].[ReturnRequest] ([id], [orderId], [userId], [reason], [status], [createdAt], [EvidenceImage], [SellerResponse]) VALUES (1, 1, 2, N'Received wrong item', N'Approved', CAST(N'2025-11-15T02:16:34.140' AS DateTime), N'/images/returns/b713f81d-ba1f-46a6-affb-2f49ca510be1.jpg', N'Automatically approved after timeout.')
INSERT [dbo].[ReturnRequest] ([id], [orderId], [userId], [reason], [status], [createdAt], [EvidenceImage], [SellerResponse]) VALUES (2, 1, 2, N'Missing parts / incomplete package', N'Approved', CAST(N'2025-11-15T02:25:52.220' AS DateTime), N'/images/returns/a5ab5e35-8468-4fd4-8a04-042cb3d877cf.jpg', N'Automatically approved after timeout.')
SET IDENTITY_INSERT [dbo].[ReturnRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([id], [productId], [reviewerId], [rating], [comment], [createdAt]) VALUES (1, 1, 2, 1, N'san pham rat tot ', CAST(N'2025-11-15T03:19:46.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Store] ON 

SET IDENTITY_INSERT [dbo].[Store] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [username], [email], [password], [role], [avatarURL]) VALUES (1, N'seller1', N'seller1@gmail.com', N'KeKdS78HQfm8Nov13wffue7mPqNicdQgE+ArYRlvuL0=', N'Seller', NULL)
INSERT [dbo].[User] ([id], [username], [email], [password], [role], [avatarURL]) VALUES (2, N'buyer1', N'buyer1@gmail.com', N'6EfvCEo0VYflqTaCvOYD4ojWDSLauhRyIuQjt0Scy2k=', N'Buyer', NULL)
INSERT [dbo].[User] ([id], [username], [email], [password], [role], [avatarURL]) VALUES (3, N'admin1', N'admin1@gmail.com', N'JfQ7FIatlaE5jj7rPYO8QBABX8yb7bNbQy4AKY1QIfc=', N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E61643FCFA541]    Script Date: 11/15/2025 4:40:00 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([bidderId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Dispute]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[OrderTable] ([id])
GO
ALTER TABLE [dbo].[Dispute]  WITH CHECK ADD FOREIGN KEY([raisedBy])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([sellerId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Message]  WITH NOCHECK ADD FOREIGN KEY([receiverId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Message]  WITH NOCHECK ADD FOREIGN KEY([senderId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Product]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[OrderTable] ([id])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[OrderTable]  WITH CHECK ADD FOREIGN KEY([addressId])
REFERENCES [dbo].[Address] ([id])
GO
ALTER TABLE [dbo].[OrderTable]  WITH CHECK ADD FOREIGN KEY([buyerId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[OrderTable] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([sellerId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[ReturnRequest]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[OrderTable] ([id])
GO
ALTER TABLE [dbo].[ReturnRequest]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([reviewerId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[ShippingInfo]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[OrderTable] ([id])
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD FOREIGN KEY([sellerId])
REFERENCES [dbo].[User] ([id])
GO
USE [master]
GO
